.header{

  font-size: 1.4rem;
  text-align: center;
  font-family: Ariel;
  font-weight: 600;
  color: black;

}
.main-bg {
  overflow: auto !important;
}

.page{

  margin-top: 1.4rem;

}

.header3{

  font-size: 1.05rem;
  font-family: Arial;
  font-weight: 200;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  margin-left: 0rem;
  color: #00000099;
}

.header-icon{

  font-size: 1.2rem;
  font-family: Arial;
  font-weight: 500;
  /* margin-top: 2rem !important; */
  margin-bottom: 0rem;
  color: #8a8984;
}


.footer{

  margin-top:1rem;

}

.next-button {
  display: inline-block;
  padding: 0.45rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /*box-shadow: 0 2px 3px 0 #858585;*/
}
.next-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d4146;
  border-radius: 10rem;
  z-index: -2;
}
.next-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color:#5d6f73;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.next-button:hover {
  color: #fff;
}
.next-button:hover:before {
  width: 100%;
}

.next-button:hover:after {
  position: absolute;
  top: 0;
  left: 75%;
  width: 100%;
  content: attr(title);
  background-color: #ffa;
  color: #000;
  line-height: 1.4em;
  border: 1px solid #000;
  box-shadow: 2px 2px 10px #999;
}

/* optional reset for presentation */

/*--------------------------------------------------------------------*/
.prev-button {
  display: inline-block;
  padding: 0.45rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  /*box-shadow: 0 2px 3px 0 #858585;*/
  float: right;

}
.prev-button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2d4146;
  border-radius: 10rem;
  z-index: -2;
}
.prev-button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #5d6f73;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}
.prev-button:hover {
  color: #fff;
}
.prev-button:hover:before {
  width: 100%;
}
/* optional reset for presentation */

.custom-label{
  font-size: 1.0rem;
  font-family: Arial;
  font-weight: 200;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  margin-left: 0rem;
  color: #00000099;
  line-height: 1em;
}
.radio-label{
  font-size: 0.84rem !important;
  font-family: Arial;
  margin-right: 0.5rem;
  color: #00000099;

}

.radio-card{
  background-color: #f1f1f1;
  border-radius: 0.9rem;
  padding: 0.2rem 0.2rem 0.2rem 0.3rem;
  margin-top: 1.0rem;
  margin-bottom: 0.3rem;
  box-shadow: 0 2px 3px 0 #858585c2;

}

.date-font{
  color:black;
  font-size: 0.8rem;

}


input[type="text"]{
  background-color: #8080801c;
  border-radius: 0em;
  height: 1.5rem;
  border: none;
  margin: 0.0em;
  box-shadow: 0 2px 3px 0 #858585c2;
  font-size:0.9rem;
  font-color: #00000099;
}


input[type="date"] {

  color:black;

}

.date-class{

  margin-top:-1rem;
  margin-bottom:-1rem

}

:host {
  display: block;
}



select{
  background-color: #f1f1f1;
  /*margin-top: 0.5rem;*/
  border-radius: 0em;
  height: 1.9rem;
  border: none;
  box-shadow: 0 2px 3px 0 #858585c2;
  font-size: 0.9rem;
  font-color: #00000099;



}
.closure{
  font-size: 1.4rem;
  text-align: center;
  font-family: Ariel;
  font-weight: 600;
  top:50%;
  bottom:50%;
  right:50%;
  left:50%;
  margin-top: 50%


}
.mat-stepper-vertical {
  margin-top: 8px;

}

.mat-form-field {
  margin-top: 16px;
}

::ng-deep .mat-step-header .mat-step-icon {
  background-color: #8a8984;
  margin-right: 0;

}

::ng-deep .mat-step-header .mat-vertical-stepper-header .mat-step-icon {

  margin-right: 0px;

}
::ng-deep .mat-step-header {
  height:0px !important;

}


/*::ng-deep .mat-step-header{*/
/*  pointer-events: none !important;*/
/*}*/
.card1{
  margin-top: 2rem;
}





body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #fff;
  background: #cba712 !important;
  overflow: hidden;
}

.container {
  /*width: 600px;*/
  /*margin: 100px auto;*/
}
.progressbar {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.progressbar li {
  list-style-type: none;
      width: 150px;
  float: left;
  z-index: 99 !important;
  font-size: 11px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #7d7d7d;
}
.progressbar {
  counter-reset: step;
}
.progressbar li:before {
  width: 26px;
  height: 26px;
  content: counter(step);
  counter-increment: step;
  line-height: 19px;
  border: 4px solid #7d7d7d;
  display: block;
  text-align: center;
  margin: 0 auto 0px auto;
  border-radius: 50%;
  z-index: 9 !important;
  background-color: white;
}
.form-logo{
  margin: 10px 0 0 20px;
}
.progressbar li:after {width: 100%;
  height: 5px;
  content: '';
  position: absolute;
  background-color: #7d7d7d;
  top: 11px;
  left: -41%;
  z-index: -1 !important;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: green;
}
.progressbar li.active:before {
  border-color: green;
}
.progressbar li.active + li:after {
  background-color: green;
}

.progressbar li.inactive {
  color:#767a85;
  pointer-events: none;
}
.progressbar li.inactive:before {
  border-color: #767a85;
  pointer-events: none;
  z-index: 6;
}
.progressbar li.inactive + li:after {
  background-color: #767a85;
  pointer-events: none;
  z-index: 1;
}

.progressbar li small {
  font-size: 16px !important;
}

.progressbar li.selected {
  color: #ffcf24;
}
.btn-yellow{
  background: #ffcf24;
  border: 1px solid #ffcf24;
  min-width: 500px;
}
.progressbar li.selected:before {
  border-color: #ffcf24;
}
.progressbar li.selected:after {
  border-color: #ffcf24;
}
.upload-adhar{
  margin: 30px auto 80px auto;
    width: max-content;
}
.success-msg{
  margin: 30px auto;
  max-width: 400px;
  text-align: center;
}
.success-msg>h4{
 color: green;
 font-weight: 600;
 text-align: center;
}
.success-msg>p{
  color: #666;
  text-align: center;
 }
 .success-msg>p>span{
  color:#333;
font-weight: 600;
 }
 .success-msg>i{
  color: green;
  font-size: 46px;
  margin-bottom: 20px;
 }




.claim-scroll{

  height:21rem;
  overflow-y: scroll;


}

:host ::ng-deep .mat-vertical-content {
  padding: 0 8px 23px 9px !important;
}
.custom-button{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #fbc807;
  width: inherit;
  margin-left: 4rem;
}
.custom-button1{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #fbc807;
  width: inherit;
}
.thank-you-box{

  text-align: center;
  color: black;
  font-family: Arial;
  /* height: fit-content; */
  padding: 12rem 4rem 4rem 4rem;
  font-weight: 600;
  font-size: large;


}

::-webkit-scrollbar {
  width: 0px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #6c757d;
}
::-webkit-scrollbar-thumb:hover {
  background: #343a40;
}

.form-name{

  align-content: center;
  /*margin-left: 2.5rem;*/

}

.heading{
  color: black;
  float: right;
  text-align: left;
  margin-left: 0.8rem;


}
::ng-deep.mat-datepicker-content .mat-calendar {
  width: 11rem !important;
  height: 15rem !important;
}
::ng-deep.mat-calendar {
  display: inline-block !important;
}
::ng-deep.mat-calendar-header {
  height: 2.3rem !important;
  margin-top: -0.7rem !important;
}


::ng-deep.mat-datepicker-content .mat-calendar {
  width: 11rem !important;
  height: 15rem !important;
}
::ng-deep.mat-calendar {
  display: inline-block !important;
}
::ng-deep.mat-calendar-header {
  height: 2.3rem !important;
  margin-top: -0.7rem !important;
}

.call-wrapper{
  text-align: center;
}

.validation-error{
  color:#ff8080;
  font-size: 0.6rem;
}

.thankyou-edit{
  text-align: right;


}

.call-agent{

  text-align: center;
  margin-left: 2.5rem;



}

.agent-custom-button{
  box-shadow: 0 2px 3px 0 #858585;
  background-color: #fbc807;
  width: inherit;
  padding: 2px 7px 2px 7px;
  margin-top: 0.3rem;
  font-size: 16px;
}

.heading-align{

  text-align: right;
}


.example-result-card h2 {
  margin: 0 8px;
}
.mat-slider-horizontal {
  width: 1000px;
}
.example-result-card1    h2 {
  margin: 0 8px;
}
.mat-slider-horizontal {
  width: 1000px;
}
.loan-offer-header>h4{
  font-size: 30px;
  font-weight: 600;
  color: #333;
  position: relative;
  margin-bottom: 28px;
}
.loan-offer-header>h4:before{
  content: '';
    width: 300px;
    height: 5px;
    position: absolute;
    display: block;
    background: #ffcf24;
    bottom: -16px;
    left: 0px;
}
.loan-offer-header>p{
  color: #999;
}
.loan-card .mat-vertical-stepper-header .mat-step-icon {
  display: none !important;
}
.slider {
  background: #d3d3d3;
  border: none !important;
}
.slider::-webkit-slider-thumb {
  background: #4CAF50;
}

.slider::-moz-range-thumb {
  background: #4CAF50;
}
.mat-vertical-stepper-header .mat-step-icon{
  display: none !important;
}
.loan-dark-heading{
  font-weight: 600;
}
.loan-dark-heading>span{
  float: right;
}
.loan-light-heading{
  color: #999;
font-size: 16px;
}
.loan-light-heading>span{
  float: right;
}
.estimated-block{
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #f2f2f2;
  color: #333;
  font-size: 22px;
}
.estimated-block span{
 font-weight: 600;
}
form{
  padding: 15px;
}
.loan-amount {
  color: #ccc;
  margin: 10px 0;
}
.loan-amount>h4 {
  color: #ccc;
  border-bottom: 1px dotted #ccc;
}
app-form{
  width: 100% !important;
  
}

/*---------------------------------------------------------------Responsive-------------------------------------------------*/
@media (min-width: 992px){

}

@media (min-width: 768px) and (max-width: 991px){

}
@media (min-width: 576px) and (max-width: 767px){

}
@media (max-width: 767px){
  .btn-yellow{
    min-width: 100% !important;
    max-width: 100% !important;
  }
}
@media (max-width: 575px){
  .progressbar li{
    width: 100px;
  }
  .loan-offer-header> h4{
    font-size: 25px !important;
}
.loan-dark-heading{
  font-size: 17px !important;
}
.estimated-block{
  font-size: 17px !important;
}
.loan-offer-header> h4:before {
  width: 150px !important;
}
.upload-adhar {
  width: 100% !important;
  overflow: hidden;
}
.loan-amount> h4 {
  font-size: 16px;
}
}