<div class="container">
  <div class="row">
     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
           <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-4 col-12">
                 <div class="d-inline-flex form-name">
                    <div class="form-logo"><img src="../../assets/Webp.net-resizeimage (2).png"></div>
                 </div>
              </div>
              <div class="col-lg-10 col-md-9 col-sm-8 col-12">
                 <div class="mt-4 form-name">
                    <div class="">
                       <h6 class="mt-6 ml-4"><b>Loan Preapproval Form</b></h6>
                    </div>
                 </div>
                 
              </div>
           </div>
           <div class="row">
             <div class="col-lg-12">
              <div *ngIf="showList && count!==2"  >
                <div class="mt-4">
                   <ul class="progressbar">
                      <li  [ngClass]="[highlight.includes(0)?'active':'inactive' , count===0?'selected':'']" (click)="toggle(0)"><small class="bar-text-margin">Loan Amount</small></li>
                      <li [ngClass]="[highlight.includes(1)?'active':'inactive', count===1?'selected':'']" (click)="toggle(1)"><small class="bar-text-margin">KYC</small></li>
                      <li  [ngClass]="[highlight.includes(2)?'active':'inactive', count===2?'selected':'']" (click)="toggle(2)"><small class="bar-text-margin">Done</small></li>
                   </ul>
                </div>
             </div>
             </div>
           </div>
           <div *ngIf="count==0" class="page container-fluid">
              <div class="card loan-card">
                 <form [formGroup]="contactForm">
                    <div class="loan-offer-header">
                       <h4>Finalize Loan Offers</h4>
                       <p>Personalise your Loan Offers </p>
                    </div>
                    <div>
                       <div >
                          <h4 class="loan-dark-heading">Loan Amount<span>&#8377; {{slider1}} Lakhs</span></h4>
                          <input type="range" min="80000" max="700000" value="50" id="myRange" (change)="rangeVal()" class="form-control">
                          <p class="loan-light-heading">80.00 thousand<span>&#8377; 7.0 Lakhs</span></p>
                          <h4 class="loan-dark-heading">Tenure<span> {{slider2}} months</span></h4>
                          <input type="range" min="12" max="60" value="12" id="myRange1" (change)="rangeVal1()" class="form-control">
                          <p class="loan-light-heading">12<span>60</span></p>
                       </div>
                       <div class="estimated-block">
                          <p> Estimated Interest Rate is :<span>11.00%</span></p>
                       </div>
                       <div class="estimated-block">
                          <p> Estimated EMI is :<span>{{getEIR(slider1,slider2)}}</span></p>
                       </div>
                       <div class="loan-amount">
                          <p>Total Loan amount</p>
                          <h4>&#8377; {{slider1}}</h4>
                       </div>
                       <div class="loan-amount">
                          <p>Processing Fee</p>
                          <h4>&#8377; 14000</h4>
                       </div>
                    </div>
                    <div class="row ">
                       <div class="col-12 text-center ">
                          <button type="button"   (click)="countValueChange(1);voiceResponse('ant mein, krpaya apana KYC poora karane ke lie neeche click karake apana aadhaar card upload karen')" class="btn btn-success btn-yellow mt-5">Next</button>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
           <div *ngIf="count==1" class="page container-fluid">
            <div class="card ">
                  <form [formGroup]="contactForm">
                    <ng-template matStepLabel><span class="header-icon">KYC Screen</span></ng-template>
                    <div class="row">
        
                      <div class="col-md-12">
                        <div class="header3">Dear Customer, To continue your Loan Application please complete your KYC.</div>
                        
                      </div>
                      
                      </div>
                     <div class="upload-adhar">
                      <h5>Please Upload your adhaar card</h5>
                      <input type="file" id="myFile" name="filename" (click)="imageChange()">
                     </div>
                    <div class="row button-css">
        
                      <div class="col-6">
        
        
                        <button type="button" (click)="previous()" class="btn custom-button1 align-content-md-center">Previous</button>
        
        
                      </div>
                      <div class="col-6  ">
        
                        <button type="button" (click)="countValueChange(2);voiceResponse('badhaee ho aapane apana rn aavedan sankhya 1 2 3 4 5 6 saphalataa poorvak poora kar liya hai. aap email ya sms ke maadhyam se sheeghr hee vivaran praapt karenge. apana samay dene ke lie dhanyavaad aapaka din achchha rahe')" class=" btn custom-button1 align-content-md-center"
        
        
                        >Next</button>
        
        
        
        
                      </div>
                    </div>
        
                  </form>
            </div>
          </div>
          <div *ngIf="count==2" class="page container-fluid">
            <div class="card">
                  <form [formGroup]="contactForm">
                    <ng-template matStepLabel><span class="header-icon">Done</span></ng-template>
                  </form>
                  <div class="success-msg">
                    <i class="fa fa-check-circle"></i>
                    <h4>Done</h4>
                    <p>Your submission is completed successfully. Your Loan no. is <span>123456</span></p>
                  </div>
            </div>
          </div>
        </div>
     </div>
  </div>
</div>